<div class="col-md-9">
   <ul>
    {{#each}}
       <li>
          <span class="name">Name: {{name}} </span>
          <span class="age">Age: {{age}} </span>
       </li>
    {{/each}}
   </ul>
</div>
