<div class="jumbotron">
  <div class='title'>Forever Home - Give the Gift of Family</div> 
  <p>Because everyone deserves a home</p>
</div>

<section class="three-step row">
  <div class="step col-sm-4">
    <div class="step__content">
      <div class="step__image">
        <img src="http://secure-ocean-9335.herokuapp.com/assets/test/step_image-0d59bc12b3ba60297d07226c09d062b4.png" alt="">
      </div>
      <div class="step__title">
        <p>Adopt a dog</p>
      </div>
      <div class="step__text">
        <p>Give a loving animal a home forever</p>
      </div>
    </div>
  </div>
  <div class="step col-sm-4">
    <div class="step__content">
      <div class="step__image">
        <img src="http://secure-ocean-9335.herokuapp.com/assets/test/step_image-0d59bc12b3ba60297d07226c09d062b4.png" alt="">
      </div>
      <div class="step__title">
        <p>Adopt a dog</p>
      </div>
      <div class="step__text">
        <p>Give a loving animal a home forever</p>
      </div>
    </div>
  </div>
  <div class="step col-sm-4">
    <div class="step__content">
      <div class="step__image">
        <img src="http://secure-ocean-9335.herokuapp.com/assets/test/step_image-0d59bc12b3ba60297d07226c09d062b4.png" alt="">
      </div>
      <div class="step__title">
        <p>Adopt a dog</p>
      </div>
      <div class="step__text">
        <p>Give a loving animal a home forever</p>
      </div>
    </div>
  </div>
</section>
